@media screen and (min-width: 0) {
  .banner__imagem {
    height: calc(100vh - 51px);
  }

  .banner__titulo {
    font-size: 3rem;
  }

  .cabecalho {
    justify-content: center;
    padding: 0 1rem;
  }

  .logo {
    display: none;
  }

  .sobre {
    padding: 2.5rem 1rem;
  }

  .sobre__titulo {
    font-size: 2rem;
  }

  .sobre__descricao {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 768px) {
  .banner__imagem {
    height: calc(100vh - 51px);
  }

  .banner__titulo {
    font-size: 5.0625rem;
  }

  .cabecalho {
    padding: 0 5rem;
    justify-content: space-between;
  }

  .logo {
    display: block;
  }

  .sobre {
    padding: 2.5rem;
  }

  .sobre__descricao {
    font-size: 1.75rem;
  }

  .sobre__titulo {
    font-size: 3.1875rem;
  }
}
